<a href="/">Voltar</a>

<h1>{{user.name}}</h1>
<p>{{user.occupation}}</p>
<div>
  <strong>Data do cadastro:</strong>
  <p>{{user.createdAt}}</p>
</div>
<div>
  <strong>Última alteração:</strong>
  <p>{{user.updatedAt}}</p>
</div>